{% extends "_layouts/ativos.njk" %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Relação de Ativos</h6>
        </div>
        <div class="card-body">

            {% if ativos.length > 0 %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Marca</th>
                                <th class="text-center">Modelo</th>
                                <th class="text-center">Patrimônio</th>
                                <th class="text-center">Status</th>
                                {# <th style="width: 150px;" class="text-center">Ação</th> #}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ativo in ativos %}
                                <tr>
                                    <td class="align-middle text-center">{{ativo.id}}</td>  
                                    <td class="align-middle text-center">{{ativo.ferramenta.marca}}</td>
                                    <td class="align-middle text-center">{{ativo.ferramenta.modelo}}</td>
                                    <td class="align-middle text-center">{{ativo.patrimonio}}</td>
                                    <td class="align-middle text-center">
                                         {% if ativo.emprestada == 1 %}
                                            <span class="p-3 mb-2 text-success font-weight-bold">Disponível</span>
                                        {% else %}
                                            <span class="p-3 mb-2 text-danger font-weight-bold">Emprestada</span>
                                        {% endif %}
                                    </td>
                                    {# <td class="align-middle text-center">
                                        {% if ferramenta.ativo == 1 %}
                                            <span class="p-3 mb-2 text-success font-weight-bold">Ativo</span>
                                        {% else %}
                                            <span class="p-3 mb-2 text-danger font-weight-bold">Inativo</span>
                                        {% endif %}
                                    </td> #}
                                    {# <td class="d-flex justify-content-center" style="width: 150px;">
                                        <form action="/app/providers/register/{{ferramenta.id}}" method="get" class="mx-3">
                                            <button class="btn btn-info btn-icon-circle" type="submit">
                                                <i class="fas fa-info-circle"></i>
                                            </button>
                                        </form>
                                        <form action="/app/providers/change-status/{{ferramenta.id}}" method="post">
                                            <button class="btn btn-warning btn-icon-circle" type="submit">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </button>
                                        </form>
                                    </td> #}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% else %}
                <h3>{{msg}}</h3>
            {% endif %}

        </div>
    </div>
{% endblock %}