{% extends "_layouts/ativos.njk" %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Cadastro de Ativos</h1>
                </div>
                <form action="/app/active/register/" method="post" class="user">
                    <div class="form-group">
                        <label for="patrimonio">Patrimônio</label>
                        <input type="text" id="patrimonio" name="patrimonio" class="form-control form-control-user" placeholder="D2021F" autofocus required>
                    </div>
                    <div class="input-group mb-3">
                    {# {% if ferramentas.length == 0 %}disabled{% endif %} #}
                        <select class="custom-select" id="inputGroupSelect01" name="ferramentaId">
                            <option {% if ferramentas.length == 0 %}selected{% endif %} disabled>{% if ferramentas.length == 0 %}Não há ferramenta cadastrada.{% else %}Ferramentas{% endif %}</option>
                            {% for ferramenta in ferramentas %}
                            {# <option value="{% ferramenta.id %}">{{ferramenta.marca}} - {{ferramenta.modelo}}</option> #}
                                <option value="{{ferramenta.id}}">{{ferramenta.id}} - {{ferramenta.marca}} {{ferramenta.modelo}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      <span>CADASTRAR</span>
                    </button>
                    <p></p>
                <p class="text-danger text-center">{{msg}}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}