<div class="col-lg-6 d-none d-lg-block">
    <a class="sidebar-brand d-flex align-items-center justify-content-center my-5" href="/">
        <img src="/img/logo-white.jpg" alt="" class="img-fluid">
    </a>
</div>